.listing-show {
    /* width: 86.32vw; */
    display: flex;
    flex-direction: column;
    /* padding-left: 270px; */
    /* align-self: center; */
    /* align-items: center; */
    font-family: 'Manrope', sans-serif;
    /* max-width: 1420px; */
    /* max-width: 550vw; */
    justify-self: center;
    margin-left: 15.8vw;
}

.listing-heading-container {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    /* font-size: 0.878vw; */
    font-size: 15px;
    margin-left: 0;
    align-items: start;
    
}

.listing-heading-container p {
    /* font-size: 0.878vw; */
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    
}

.listing-heading-container h1 {
    margin-top: 0.87vw;
    margin-bottom: 0.58vw;
}

.listing-hosted-by p {
    /* font-size: 1.288vw;     */
    font-size: 22px;
    /* font-weight: 400; */
    font-weight: bold;
    margin-bottom: 3px;
}
.listing-description {
    margin-top: 0.35vw;
    /* font-size: 0.937vw; */
    font-size: 16px;
}

.listing-details {
    border-bottom: 2px solid;
    border-color: rgb(202, 202, 202);
    padding-bottom: 0.29vw;
    /* font-size: 0.93vw; */
    font-size: 16px;
}



.map-container {
    /* padding-top: 40px; */
    /* padding-top: 2.34vw; */
    /* height: 700px;
    width: 1120px; */

    height: 41vw;
    width: 65.5vw;
 
}

.map-container span {
    font-weight: bold;
    /* font-size: 1.288vw; */
    font-size: 22px;
}

.map {
    padding-top: 1.28vw;
    /* width: 1120px; */
    /* height: 480px; */
    /* width: 1120px; */
    height: 100%;
    width: 100%;
    padding-bottom: 4.68vw;
}

.picture-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 1400px; */
    width: 100%;
    /* height: 0px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    border-radius: 20px;
    padding-top: 24px;
}

.main-picture {
    /* flex: 0 0 50%;
    max-height: 400px; 
    margin-bottom: 20px;
    border-radius: 8px; */
    /* width: 560px; */
    width: 32.8vw;
    /* height: 448px; */
    height: 26.24vw;
    padding-right: 0.46vw;
}

.main-picture img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.sub-container {
    /* flex: 0 0 50%; */
    display: flex;
    flex-wrap: wrap;
    /* width: 560px; */
    width: 50%;
    /* height: 560px; */
    /* padding: 100px; */
    /* position: absolute; */
    /* width: 50vw; */
}

.sub-container > div:nth-child(2) > img{
    border-top-right-radius: 16px;
    /* object-fit: none; */
}

.sub-container > div:nth-child(4) > img{
    border-bottom-right-radius: 16px;
    /* object-fit: none; */
}
/* .sub-container:nth-child(4) img {
    border-bottom-right-radius: 16px;
} */

.sub-picture {
    /* flex: 0 0 50%; */
    /* height: 220px;  */
    height: 12.88vw;
    /* width: 272px; */
    /* height: 12.88vh; */
    width: 15.8vw;
    margin-bottom: 0.46vw;
    margin-right: 0.46vw;
    /* overflow: hidden; */
    /* border-radius: 8px; */
}

.sub-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.listing-body-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* width: 1400px; */
    width: 65.5vw;
    height: 100%;
    /* height: 26vw; */
    gap: 2.93vw;
    padding-top: 2.34vw;
    margin-bottom: 1.45vw;
}
/* @media screen and (width >= 1960px) {
    .listing-body-container {
        height: 45vw;
    }
} */
.listing-body {
    /* width: 650px; */
    /* display: inline-block; */
    width: 38vw;
    margin-top: -1.64vw;
    padding-right: 2.87vw;
    

}
.listing-description {
    /* border-top: ; */
    border-bottom: 2px solid;
    border-color: rgb(202, 202, 202);
}

/* .amenities {
    font-weight: 200;
    font-family: 'Manrope', sans-serif;
    height: 7.85vw;
} */
#amenities-h3{
    /* font-size: 1.288vw; */
    font-size: 22px;
    margin-bottom: -1.17vw;
    margin-left: 0px;
}
.amenities-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 300px;
    padding: 48px 0; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.93vw;
    grid-auto-flow: row;
    border-bottom: 2px solid;
    border-color: rgb(202, 202, 202);
    padding: 2.81vw;
    padding-left: 0px;
    
}

.amenity-icon {
    display: flex;
    /* padding-right: 50px; */

}

.amenity-name {
    padding-left: 0.585vw;
    font-weight: 400;
    /* font-size: 0.937vw; */
    font-size: 16px;
}


.calendar-container {
    display: flex;
    position: inherit;
    /* flex-direction: row; */
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    /* height: 52vh; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    /* width: 320px; */
    height: 440px;
    
}
