/* PriceBubbleMarker.css */

.price-bubble-marker {
    position: relative;
    background: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  
  .price-bubble-marker:hover {
    background: black;
  }

.overlay-marker:hover {
  background-color: black;
  transform: scale(1.1);
  border: 5px solid black;
  color: white

}

.overlay-marker {
  background-color: white;
  color: black;
}