.calender-container {
    font-family: 'Manrope', sans-serif;
}
.price-night {
    font-size: 16px;
    padding-bottom: 24px;
    width: 286px;
}

.price-night span {
    font-weight: bold;
    font-size: 20px;

}

.price-calculation-container {
    padding-top: 20px;
    position: absolute;
}

.price-calculation-container span {
    margin-left: 180px;
}

.reserve-btn {
background: radial-gradient(#e31c5f, #bd1e59);
width: 320px;
height: 48px;
border-radius: 12px;
font-weight: bold;
color: white;
font-size: 16px;
border-style: none;
margin-top: 14px;
cursor: pointer;
}


.DateRangePickerInput {
/* border-radius: 12px; */
border-top-left-radius: 12px;
border-top-right-radius: 12px;
height: 55px;
width: 318px;
}


.DateInput {
border-radius: 12px;
}

#endDate {
border-bottom-left-radius: 12px;
margin-top: 10px;
padding: none;
border-width: 0px;
width: 100px;
font-size: 14px;
border-radius: 12px;


}

#startDate {
    /* margin-left: -34px; */
    margin: none;
    padding: none;
    border-width: 0px;
    margin-top: 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 12px;
}

#startDate .DateInput_input {
    margin-left: -24px;
    margin: none;
    padding: none;
    background-color: red;
}

.CalendarDay__selected:hover {
    background: yellow;
}
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: black;
    border: black;

}

.CalendarDay__selected_span {
    background: black;
    border: black;
    opacity: 0.65;
    color: #fff;
}

.CalendarDay__selected_span:hover {
    background: black;
    border: black;
    opacity: 0.65;
    color: #fff;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
    background: black;
    opacity: 0.65;
    color: #fff;
    border-color: white;
}

.CalendarDay__hovered_span {
    /* background: red */
}
.CalendarDay {
    /* border: none; */
}

.date-range-picker-wrapper {
    position: relative;
}

.check-in-text,
.check-out-text {
    position: absolute;
    top: -28px;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}
  
.check-in-text {

    left: 14px;
    top: 5px;
    z-index: 2;
}
  
.check-out-text {

    right: 81px;
    top: 5px;
    z-index: 2;
}

.guest-menu {
    width: 318px;
    /* border-width: solid; */
    border: 1px solid ;
    /* border-color: grey; */
    border-color: #dbdbdb;
    height: 55px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}




.guest-label {
    top: -28px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}

.guest-count {
    font-size: 14px;
    padding-left: 20px;
}

.guest-controls {
    position: absolute;
    right: 15px;
    top: 75px;
}

.guest-container input {
    margin-left: 15px;
    cursor: pointer;
    width: 250px;
}